/*https://css-tricks.com/almanac/*/
body{
  font-family: 'Century Gothic';
  background: green;
  color: white;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  background: #green;

  padding-top: 40px;
  padding-bottom: 50px;

/*also comments*/
  <!--from google fonts -->

  font-family: 'Montserrat', sans-serif;
  font-family: 'Lobster', cursive;
}

hl, h2, h3 {
  font-family: 'Comic Sans MS';
  color: purple;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-left: 30px;
}

a:hover{
  color: yellow;
}

.emphasis-paragraph {
  font-size 2em;
}

.content-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.box-test {
  width: 100px
  height: 100px;
  background: red;
  color: white;
  padding: 10px;
  border: 5px solid green;
}

.big-image-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.big-image {
  width: 100%;
  border: 2px solid #4F7FE8;
}

.hero {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #111;
  font-size: 1.5em;
  margin-bottom: 100px;
  background-image: url(https://static.pexels.com/photos/91628/pexels-photo-91628-large.jpeg);
  background-size: cover;
  background-position: center;
}

.hero-heading {
  color: #fff;
}

.site-header {

  position: fixed;
  position: fixed;
  left: 0;
  top: 0%;
  width: 100%;


  font-size: 20px;
  text-align: center;
  background: red;
  height: 40px;
  line-heignt: 40px;
  color: white;
  border-bottom: 2px solid blue;

}


.button {
  background-color: #4F7FE8;
  color: #fff;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2em;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  transition: 0.2s;

  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  border: none;
}


.button:hover {
  background-color: #3D6DB2;
  color: #fff;
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.9);
}
